<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      color: #555;
    }
  </style>
  <title>This is Homepage made to Express.js</title>
</head>
<body>
  <h1>이 페이지는 <a href="https://ejs.co/" style="color: black; text-decoration-line: none;">Embedded JavaScript</a>를 사용하고 있습니다.</h1>
  <p><b>어떻게든 배우려는 의지!</b><br>
  <b>참으로 기특하죠?</b></p>
  <p><em>아니요</em></p>
  <p><%= 3+4+3 %></p>
  <p><% console.log('좆됨') %></p>
</body>
</html>